.camera-view {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 240px;
  height: 180px;
  border: 1px solid #444;
  background: #000;
  z-index: 1001;
}

.camera-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
